{% extends 'components/layout.html' %}
{% load static %}

{% block body %}
  <div x-data="institutionDetails">
    {% include 'components/institution-header.html' %}

    <section class="section">
      <div class="container">
        <div class="columns is-gapless">
          <!-- Left Column - Horizontal Bar Chart -->
          <div class="column is-half">
            <h4 class="is-size-5 has-text-weight-medium mb-3">Recibido vs Rendido por año</h4>
            <div id="bar-chart" class="chart-container"></div>
          </div>

          <!-- Vertical Separator -->
          <div class="separator"></div>

          <!-- Right Column - Icicle Chart -->
          <div class="column is-half">
            <h4 class="is-size-5 has-text-weight-medium mb-3">Totales según objeto de gasto</h4>
            <div id="treemap-chart" class="chart-container"></div>
          </div>
        </div>
      </div>
    </section>


    <section class="section">
      <div class="container">
        <h3 class="is-size-3 mb-4 has-text-weight-semibold">Desembolsos y Rendiciones</h3>
        <div class="my-4 is-flex is-gap-4 is-flex-wrap-wrap">
          <span class="has-text-weight-medium">Colores:</span>
          <span>
            <i class="fa-solid fa-square is-color-warning"></i>
            Fecha a rendir próxima a vencimiento
          </span>
          <span>
            <i class="fa-solid fa-square is-color-danger"></i>
            Irregularidad en rendición
          </span>
          <span>
            <i class="fa-regular fa-square"></i>
            Regular
          </span>
        </div>
        <div class="table-container">
          <table class="table is-striped is-fullwidth is-hoverable">
            <thead>
            <tr>
              <th value="header">Año</th>
              <th value="header">Director</th>
              <th value="header">Doc. Director</th>
              <th value="header">Resolución</th>
              <th value="header">Monto Resol.</th>
              <th value="header">Fecha Desembolso</th>
              <th value="header">Monto Desembolsado</th>
              <th value="header">Fecha límite de rendición</th>
              <th value="header">Fecha de rendición</th>
              <th value="header">Monto rendido</th>
              <th value="header">Detalle de rendición</th>
            </tr>
            </thead>
            <tbody>
            <template x-for="report in results" :key="report.id">
              <tr :class="tagColor(report)">
                <td class="has-text-centered" x-text="report.disbursement.resolution.documentYear"></td>
                <td x-text="report.disbursement.principalName"></td>
                <td class="has-text-right" x-text="formatNumber(report.disbursement.principalIssuedId)"></td>
                <td class="has-text-centered">
                  <template x-if="report.disbursement.resolution.document">
                    <a :href="report.disbursement.resolution.document">
                  <span
                    x-text="`${report.disbursement.resolution.documentNumber}/${report.disbursement.resolution.documentYear}`"></span>
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                  </template>
                  <template x-if="!report.disbursement.resolution.document">
                  <span
                    x-text="`${report.disbursement.resolution.documentNumber}/${report.disbursement.resolution.documentYear}`"></span>
                  </template>
                </td>
                <td class="has-text-right"
                    x-text="new Intl.NumberFormat('es-PY').format(report.disbursement.resolutionAmount)"></td>
                <td class="has-text-centered" x-text="formatDate(report.disbursement.disbursementDate)"></td>
                <td class="has-text-right"
                    x-text="new Intl.NumberFormat('es-PY').format(report.disbursement.amountDisbursed)"></td>
                <td class="has-text-centered">
                  <span x-text="formatDate(report.disbursement.dueDate)"></span>
                </td>
                <td class="has-text-centered">
                  <span x-text="formatDate(report.reportDate)"></span>
                </td>
                <td class="has-text-right"
                    x-text="new Intl.NumberFormat('es-PY').format(report.reportedAmount || 0)"></td>
                <td class="has-text-centered">
                  <a :href="`/instituciones/${report.disbursement.institutionId}/rendiciones/${report.id}/`">Ver</a>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    var yearlyReport = {{ yearly_report|safe }}
  </script>
  {#  <script src="{% static 'institution-table.js' %}"></script>#}
  {#  <script src="{% static 'charts.js' %}"></script>#}
  <script src="{% static 'institution-details.js' %}"></script>
{% endblock %}