{% extends 'components/layout.html' %}
{% load static %}

{#{% block style %}#}
{#  .card {#}
{#  display: flex;#}
{#  flex-direction: column;#}
{#  justify-content: space-between;#}
{#  height: 100%;#}
{#  }#}
{#{% endblock %}#}

{% block body %}
  <section class="section">
    <div class="container">
      <h2 class="title">Recursos</h2>
      <div class="subtitle my-5">
        <p>La sección "Recursos" ofrece una selección de materiales útiles sobre el Fondo de Gratuidad del Ministerio de
          Educación y Ciencias (MEC) de Paraguay. Aquí encontrarás guías, documentos oficiales y herramientas que te
          ayudarán a entender el fondo, asegurando que los estudiantes elegibles puedan aprovechar las oportunidades
          educativas de manera eficiente y sin complicaciones.</p>
      </div>
      <div class="columns is-multiline">
        {% for resource in resources %}
          <div class="column is-one-third">
            <div class="card" x-data="{open: false}">
              <header class="card-header">
                <p class="card-header-title">{{ resource.name }}</p>
                <button class="card-header-icon" @click="open = !open">
                  <i class="fas" :class="open ? 'fa-angle-up' : 'fa-angle-down'"></i>
                </button>
              </header>
              <div class="card-content" x-show="open" x-transition>
                <div class="content">
                  {{ resource.description|safe }}
                </div>
              </div>
              <footer class="card-footer">
                {% if resource.document %}
                  <a href="{{ resource.document.url }}" class="card-footer-item"
                     target="_blank">
                    Ver <i class="fas fa-arrow-up-right-from-square ml-2"></i>
                  </a>
                {% else %}
                  <a href="{{ resource.url }}" class="card-footer-item"
                     target="_blank">
                    Ver <i class="fas fa-arrow-up-right-from-square ml-2"></i>
                  </a>
                {% endif %}
              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
