{% load static %}
<section id="custom-hero">
  <div>
    <div>
      <div class="columns mx-0 is-vcentered">
        <!-- Left Column - Text (40% Width) -->
        <div id="custom-text-column" class="column p-6">
          <h1 id="title" class="is-size-3 has-text-weight-semibold has-text-white mb-3">
            Jóvenes Contralores por una Educación de Calidad
          </h1>
          <p class="is-size-6 has-text-white">
            En esta plataforma digital vas a poder encontrar de manera georreferenciada, información sobre las
            instituciones educativas que reciben los fondos de gratuidad, detalles de cada desembolso, resumen de cada
            rendición presentada y su detalle.
          </p>
        </div>
        <!-- Right Column - Image (60% Width) -->
        <div id="custom-image-column" class="column">
          <figure class="image is-16by9">
            <img id="custom-full-cover-image" src="{% static 'banner.png' %}" alt="Jóvenes Contralores">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
