{% load web_utils %}
<section class="section">
  <div class="container">
    <h3 class="has-text-weight-semibold is-size-4 mb-5">Comprobantes de la rendición</h3>
    <div class="table-container">
      <table class="table is-fullwidth is-striped">
        <thead>
        <tr>
          <th></th>
          <th>Tipo de comprobante</th>
          <th>Nro. de comprobante</th>
          <th>Razón Social</th>
          <th>RUC</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Documento</th>
        </tr>
        </thead>

        {% for receipt in report.receipts.all %}
          <tbody x-data="{open: false}">
          <tr>
            <td>
              <button @click="open = !open">
                <i class="fas" :class="open ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
              </button>
            </td>
            <td>{{ receipt.receipt_type.name }}</td>
            <td>{{ receipt.receipt_number }}</td>
            {% if receipt.provider %}
              <td>{{ receipt.provider.name }}</td>
              <td>{{ receipt.provider.ruc }}</td>
            {% else %}
              <td>Sin datos</td>
              <td>Sin datos</td>
            {% endif %}
            <td>{{ receipt.receipt_date|date:"d/m/Y" }}</td>
            <td class="has-text-right">Gs.&nbsp;{{ receipt.receipt_total|format_number }}</td>
            <td class="has-text-centered">
              {% if receipt.document %}
                <a href="{{ receipt.document.url }}" target="_blank">Ver</a>
              {% endif %}
            </td>
          </tr>
          <tr class="detail" x-show="open" x-transition>
            <td colspan="8">
              <div class="detail-container">
                <table class="table is-fullwidth">
                  <thead>
                  <tr>
                    <th>Objeto de gasto</th>
                    <th>Cantidad</th>
                    <th>Concepto</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for detail in receipt.items.all %}
                    <tr>
                      <td>{{ detail.object_of_expenditure }}</td>
                      <td class="has-text-right">{{ detail.quantity|format_number:True }}</td>
                      <td>{{ detail.description }}</td>
                      <td class="has-text-right">Gs. {{ detail.unit_price|format_number }}</td>
                      {% multiply detail.unit_price detail.quantity as subtotal %}
                      <td class="has-text-right">Gs. {{ subtotal|format_number }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
          </tbody>
        {% endfor %}

        {#      <template x-for="invoice in $store.tableState.invoices" :key="invoice.no">#}
        {#        <tbody>#}
        {#        <tr>#}
        {#          <td>#}
        {#            <div style="width: 24px; height: 24px;" href="#"#}
        {#                 @click.prevent="$store.tableState.toggleExpanded(invoice.no)">#}
        {#              <i style="width: 24px; height: 24px;"#}
        {#                 :class="invoice.no == $store.tableState.expandedRow ? 'fas fa-minus' : 'fas fa-plus'"></i>#}
        {#            </div>#}
        {#          </td>#}
        {#          <td x-text="invoice.no"></td>#}
        {#          <td x-text="invoice.issuer"></td>#}
        {#          <td x-text="invoice.date"></td>#}
        {#          <td x-text="invoice.total"></td>#}
        {#        </tr>#}
        {#        <tr x-show="invoice.no == $store.tableState.expandedRow">#}
        {#          <td colspan="5">#}
        {#            <table class="table is-fullwidth is-striped is-hidden"#}
        {#                   x-bind:class="{ 'is-hidden': invoice.no != $store.tableState.expandedRow }">#}
        {#              <thead>#}
        {#              <tr>#}
        {#                <th>Item No</th>#}
        {#                <th>Description</th>#}
        {#                <th>Qty</th>#}
        {#                <th>Unit Price</th>#}
        {#                <th>Subtotal</th>#}
        {#              </tr>#}
        {#              </thead>#}
        {#              <tbody>#}
        {#              <template x-for="item in invoice.items" :key="item.no">#}
        {#                <tr>#}
        {#                  <td x-text="item.no"></td>#}
        {#                  <td x-text="item.description"></td>#}
        {#                  <td x-text="item.qty"></td>#}
        {#                  <td x-text="item.unitPrice"></td>#}
        {#                  <td x-text="item.subtotal"></td>#}
        {#                </tr>#}
        {#              </template>#}
        {#              </tbody>#}
        {#            </table>#}
        {#          </td>#}
        {#        </tr>#}
        {#        </tbody>#}
        {#      </template>#}
      </table>
    </div>
  </div>
</section>