<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Activación de cuenta</title>
  <style>
      /* General resets */
      body {
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
      }

      @media only screen and (max-width: 600px) {
          .container {
              width: 100% !important;
          }

          .content {
              padding: 20px !important;
          }
      }
  </style>
</head>

<body>
<div style="background-color: #f6f8fc; padding: 36px 16px">
  <div style="margin: 0 auto; border-radius: 10px; padding: 18px; background-color: #FFFFFF; max-width: 600px;">
    <h1 style="font-size: 24px; color: #333333; margin-bottom: 20px;">Bienvenido a Educación
      Transparente</h1>
    <p style="font-size: 16px; color: #555555;">Hola {{ user.first_name }},</p>
    {% if is_activation %}
      <p style="font-size: 16px; color: #555555;">Recibiste este correo porque te invitaron a administrar
        las siguientes instituciones:</p>
      <ul>
        {% for institution in user.institutions.all %}
          <li>{{ institution.name }} ({{ institution.establishment.district.name }})</li>
        {% endfor %}
      </ul>
    {% else %}
      <p style="font-size: 16px; color: #555555;">Recibiste este correo porque solicitaste recuperar tu contraseña.</p>
    {% endif %}

    <p style="font-size: 16px; color: #555555;">Para restaurar tu cuenta, haz click en el siguiente enlace:</p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
       style="background-color: hsla(209, 100%, 50%, 1); color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;">Restaurar
      contraseña
      cuenta</a>
  </div>
</div>

</body>

</html>