{% extends 'components/layout.html' %}
{% load static %}

{% block body %}
  <div x-data="resourcesData()">
    <div class="is-background-primary">
      <div class="container py-5">
        <h2 class="title is-color-white">Datos abiertos</h2>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="tabs">
          {% include 'website/open-data/tabs.html' %}
        </div>
        <div class="is-flex is-justify-content-space-between is-align-items-center mb-3">
          <h3 class="has-text-weight-semibold is-size-5" x-text="collection"></h3>
          <div class="is-flex is-gap-1 is-align-items-center">
            <p class="has-text-weight-semibold">Descargar:</p>
            <a :href="getExportUrl('csv')" target="_blank" class="button is-small">CSV</a>
            <a class="button is-small" :href="getExportUrl('json')" target="_blank">JSON</a>
          </div>
        </div>
        <p class="my-4">Resultados: <span x-text="total"></span></p>
        <button class="is-link mb-5" @click="toggleModal()">
          <i class="fa-solid fa-book-open"></i>
          Ver Diccionario
        </button>


        <!-- Filters -->
        <div class="columns is-vcentered is-multiline">
          <!-- Buscar input -->
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Nombre de institución</label>
              <div class="control">
                <input class="input" type="text" placeholder="Colegio nacional..."
                       x-model="queries.institution"
                       @input="debouncedFetchFilterList('institutions')">
              </div>
              <div class="dropdown" x-show="open.institutions"
                   :class="{ 'is-active': open.institutions }">
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a
                      href="#"
                      class="dropdown-item"
                      :class="{ 'is-active': filterResults.institutions.length === 0 }"
                      x-show="filterResults.institutions.length === 0"
                      disabled
                    >
                      <span>No hay resultados</span>
                    </a>
                    <template x-for="(result, i) in filterResults.institutions" :key="i">
                      <a
                        href="#"
                        class="dropdown-item"
                        :class="{ 'is-active': i === selectedIndex.institutions }"
                        @click.prevent="selectInstitution(result)"
                      >
                        <span x-text="result.name"></span>
                      </a>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Buscar input -->
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Resolución</label>
              <div class="control">
                <input class="input" type="text" placeholder="143/2020"
                       x-model="queries.resolution"
                       @input="debouncedFetchFilterList('resolutions')">
              </div>
              <div class="dropdown" x-show="open.resolutions"
                   :class="{ 'is-active': open.resolutions }">
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a
                      href="#"
                      class="dropdown-item"
                      :class="{ 'is-active': filterResults.resolutions.length === 0 }"
                      x-show="filterResults.resolutions.length === 0"
                      disabled
                    >
                      <span>No hay resultados</span>
                    </a>
                    <template x-for="(result, i) in filterResults.resolutions" :key="i">
                      <a
                        href="#"
                        class="dropdown-item"
                        :class="{ 'is-active': i === selectedIndex.resolutions }"
                        @click.prevent="selectResolution(result)"
                      >
                        <span x-text="result.fullDocumentNumber"></span>
                      </a>
                    </template>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Origen del fondo select -->
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Origen del fondo</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select @change="selectDisbursementOrigin($event)">
                    <option value="">Cualquiera</option>
                    {% for origin in disbursement_origins %}
                      <option value="{{ origin.id }}">{{ origin.code }}</option>
                    {% endfor %}

                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Fecha desembolso desde -->
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Fecha desembolso desde</label>
              <div class="control">
                <input
                  id="disbursementDateFrom"
                  class="input"
                  type="date"
                  @change="selectDisbursementAfter($event)"
                >
              </div>
            </div>
          </div>

          <!-- Fecha desembolso hasta -->
          <div class="column is-one-fifth">
            <div class="field">
              <label class="label">Fecha desembolso hasta</label>
              <div class="control">
                <input
                  id="disbursementDateTo"
                  class="input"
                  type="date"
                  @change="selectDisbursementBefore($event)"
                >
              </div>
            </div>
          </div>

        </div>

        <!-- Table to display institution data -->
        <div class="table-container">
          <table class="table is-fullwidth is-hoverable">
            <thead>
            <tr>
              <template x-for="header in getHeaders()">
                <th x-text="header"></th>
              </template>
            </tr>
            </thead>
            <tbody x-show="!loading">
            <template x-for="row in mapCollection()" :key="row[0]">
              <tr>
                <template x-for="item in row">
                  <td x-text="item"></td>
                </template>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
        <div x-show="loading" class="container mt-5 has-text-centered">
          <span class="loader"></span>
        </div>


        <!-- Pagination Buttons -->
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          <button class="button" :disabled="!previous" @click="fetchData(previous)">Anterior</button>
          <button class="button" :disabled="!next" @click="fetchData(next)">Siguiente</button>
        </nav>
      </div>
    </section>

    <div class="modal" :class="showModal ? 'is-active' : ''">
      <div class="modal-background" @click="toggleModal()"></div>
      <div class="modal-content" style="width: 80%;">
        <div class="box">
          <h4 class="title is-size-4">Diccionario de datos</h4>
          <table class="table is-fullwidth">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Ejemplo</th>
            </tr>
            </thead>
            <tbody>
            <template x-for="field of getColumnNames()" :key="field.name">
              <tr>
                <td x-text="field.name"></td>
                <td x-text="field.description"></td>
                <td x-text="field.type"></td>
                <td x-text="field.example"></td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
      </div>
      <button class="modal-close is-large" @click="toggleModal()"></button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'open-data.js' %}"></script>
{% endblock %}