{% extends 'components/layout.html' %}

{% block body %}
  <div class="container mt-6">
    <div class="is-flex is-flex-direction-column mx-auto" style="max-width: 600px">
      <h3 class="title">Restaurar contraseña</h3>
      <p class="is-size-6 my-5">
        Muchas gracias. Si encontramos una cuenta asociada a esa dirección, te enviaremos un enlace para recuperar tu
        contraseña.
      </p>
      <a href="/" class="is-link button">Volver al inicio</a>
    </div>
  </div>
{% endblock %}