{% extends 'components/layout.html' %}

{% block body %}
  <div class="container mt-6">
    <div class="is-flex is-flex-direction-column mx-auto" style="max-width: 600px">
      <h3 class="title">Restaurar contraseña</h3>
      <p class="is-size-6 my-5">
        Por favor, ingresa la dirección de correo electrónico asociada a tu cuenta. Te enviaremos un enlace para que
        puedas restablecer tu contraseña de manera segura.
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label" for="email">Correo electrónico</label>
          <div class="control">
            <input id="email" name="email" class="input" type="email" placeholder="email@ejemplo.com" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary has-text-white" type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}